sudo: required
language: node_js
node_js: 
  - "stable"
cache:
  directories:
    - "node_modules"
services:
  - docker
before_install:
  - docker build -t "$DOCKER_USERNAME"/mysite:travis-$TRAVIS_BUILD_NUMBER .
  - docker ps -a
  - docker images
  - echo "$DOCKER_USERNAME"
  - echo $DOCKER_USERNAME
script:
  - npm test
  - npm run build
  - docker images "$DOCKER_USERNAME"/mysite
after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker tag "$DOCKER_USERNAME/mysite:travis-$TRAVIS_BUILD_NUMBER
    echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    docker push "$DOCKER_USERNAME"/mysite:travis-$TRAVIS_BUILD_NUMBER; fi